![alt text](https://github.com/callysto/callysto-sample-notebooks/blob/master/notebooks/images/Callysto_Notebook-Banner_Top_06.06.18.jpg?raw=true)

<h1 align='center'>Exploring Python api for Statistics Canada New Data Model (NDM)</h1>

<h4 align='center'>Laura Gutierrez Funderburk $\mid$ October 29 2018</h4>

In this notebook we explore functionality of the Python API for Statistics Canada developed by Ian Preston https://github.com/ianepreston

<h2 align='center'>Abstract</h2>

In this section we explore the Python library stats_can. The package can be installed via https://anaconda.org/ian.e.preston/stats_can

<h2 align='center'>Methods Available</h2>

In this section we explore available methods of stats_can.

In [1]:
import stats_can
import pandas as pd

In [2]:
methods = dir(stats_can)

In [3]:
for item in methods:
    print(item)

__builtins__
__cached__
__doc__
__file__
__loader__
__name__
__package__
__path__
__spec__
__version__
download_tables
get_changed_cube_list
get_changed_series_list
get_classic_vector_format_df
get_cube_metadata
get_series_info_from_vector
get_tables_for_vectors
h5_included_keys
h5_update_tables
metadata_from_h5
sc
scwds
table_from_h5
table_subsets_from_vectors
tables_to_h5
vectors_to_df
zip_table_to_dataframe
zip_update_tables

<h2 align='center'>Getting Updated Series Lists Method</h2>

Let us first explore the method get_changed_series_list. It is possible to ask the list of series that have been updated at 8:30am EST on a given release up until midnight that same day. 

Calling stats_can.get_changed_series_list() will return a list whose entries are dictionaries. From this list we can construct a table using pandas dataframes.

In [4]:
changed_series = stats_can.get_changed_series_list()
changed_series_df = pd.DataFrame.from_dict(changed_series)

In [5]:
short_series_list = changed_series_df.head()
short_series_list

,coordinate,productId,releaseTime,responseStatusCode,vectorId
0,1.12.0.0.0.0.0.0.0.0,33100036,2018-10-30T08:30,0,111666235
1,1.9.0.0.0.0.0.0.0.0,33100036,2018-10-30T08:30,0,111666232
2,1.3.2.0.0.0.0.0.0.0,32100116,2018-10-30T08:30,0,158846
3,1.6.2.0.0.0.0.0.0.0,32100116,2018-10-30T08:30,0,158882
4,2.2.1.0.0.0.0.0.0.0,32100116,2018-10-30T08:30,0,158366

<h2 align='center'>Downloading Tables Method</h2>

We can use the productID column on our dataframe to download tables. We will only do the first five.

In [6]:
for item in short_series_list["productId"]:
    print(stats_can.download_tables(str(item)))

None
None
None
None
None

<h2 align='center'>Get Series Information from Vector ID</h2>

We can use the vectorID column on our dataframe to get further information. We will only do the first five.

In [7]:
pd.DataFrame.from_dict(stats_can.get_series_info_from_vector(short_series_list["vectorId"]))

,SeriesTitleEn,SeriesTitleFr,coordinate,decimals,frequencyCode,memberUomCode,productId,responseStatusCode,scalarFactorCode,terminated,vectorId
0,Canada;Bought or taken as boarders;Fox,Canada;Achetés ou pris en pension;Renard,1.3.2.0.0.0.0.0.0.0,0,12,223,32100116,0,0,0,158846
1,Canada;Died or escaped (not pelted);Fox,Canada;Morts ou échappés (non écorchés);Renard,1.6.2.0.0.0.0.0.0.0,0,12,223,32100116,0,0,0,158882
2,Newfoundland and Labrador;On farms at January ...,Terre-Neuve-et-Labrador;Dans les fermes au 1er...,2.2.1.0.0.0.0.0.0.0,0,12,223,32100116,0,0,0,158366
3,"Canada;Malaysian ringgit, daily average","Canada;Ringgit (Malaisie), moyenne quotidienne",1.9.0.0.0.0.0.0.0.0,4,1,81,33100036,0,0,0,111666232
4,"Canada;Norwegian krone, daily average","Canada;Couronne (Norvège), moyenne quotidienne",1.12.0.0.0.0.0.0.0.0,4,1,81,33100036,0,0,0,111666235

<h2 align='center'>Get Tables from Vector ID</h2>

We can use the vectorID column on our dataframe to get tables.

In [8]:
for item in short_series_list["vectorId"]:
    print(stats_can.get_tables_for_vectors(str(item)))
    print("\n")

{111666235: '33100036', 'all_tables': ['33100036']}


{111666232: '33100036', 'all_tables': ['33100036']}


{158846: '32100116', 'all_tables': ['32100116']}


{158882: '32100116', 'all_tables': ['32100116']}


{158366: '32100116', 'all_tables': ['32100116']}

<h2 align='center'>Vector to DataFrame Method</h2>

We can use the vectorID column to get a dataframe

In [9]:
stats_can.vectors_to_df(short_series_list["vectorId"])

            v111666232  v111666235  v158846  v158882  v158366
refPer
2017-01-01         NaN         NaN    125.0    545.0  68200.0
2018-10-26       0.314      0.1569      NaN      NaN      NaN

<h2 align='center'>Methods that return errors (at times)</h2>

<h3 align='center'>Get changed cube list method</h3>

When attempting the method get_changed_cube_list(), found two cases:

#### Case 1) Return error

#### Case 2) Does not return error


<h4 align='center'>Case 1: get_changed_cube_list returns an error</h4>

We trace the error and find that it has to do with the url it is calling. It appears that if we call at a time where the url https://www150.statcan.gc.ca/t1/wds/rest/getChangedCubeList/2018-10-30 has not been updated, the value found on the website is 

{"message":"The input date is a future release date."}. 

---------------------------------------------------------------------------


##### HTTPError                                 Traceback (most recent call last)

##### <ipython-input-6-56447b1e7e3c> in < module>()
----> 2 changed_tables = stats_can.get_changed_cube_list()



##### ~/stats_can/stats_can/scwds.py in get_changed_cube_list(date)
166     url = SC_URL + 'getChangedCubeList' + '/' + str(date)
167     result = requests.get(url)
---> 168     result = check_status(result)
 169     return result['object']

    

##### ~/stats_can/stats_can/scwds.py in check_status(results)
40         JSON from an API call parsed as a dictionary
41     """
 ---> 42     results.raise_for_status()
43     results = results.json()

     

##### /opt/conda/lib/python3.6/site-packages/requests/models.py in raise_for_status(self)
934         if http_error_msg:
---> 935             raise HTTPError(http_error_msg, response=self)
936 
937     def close(self):
    

##### HTTPError: 404 Client Error: Not Found for url: https://www150.statcan.gc.ca/t1/wds/rest/getChangedCubeList/2018-10-30

<h4 align='center'>Case 2: get_changed_cube_list does not return an error</h4>

In the event this method does not return error, upon calling we will obtain an array whose entries are dictionaries, which we can later organize in the form of a pandas dataframe.

In [10]:
changed_tables = stats_can.get_changed_cube_list()
changed_tables_df = pd.DataFrame.from_dict(changed_tables)

In [11]:
changed_tables_df.head()

   productId       releaseTime  responseStatusCode
0   32100116  2018-10-30T08:30                   0
1   33100036  2018-10-30T08:30                   0
2   10100139  2018-10-30T08:30                   0
3   32100115  2018-10-30T08:30                   0
4   32100133  2018-10-30T08:30                   0

<h3 align='center'>Get cube metadata method</h3>

Provided the url has been updated, we can then use the productID column entries to obtain metadata. We will take the first entry in the dataframe we just created "32100116". In this section we will print only those metadata values that are "short" for visual purposes.

In [12]:
metadata_32100116= stats_can.get_cube_metadata("32100116")
metadata_entries = metadata_32100116[0]

In [13]:
keys_names = [item for item in metadata_entries.keys()]

In [14]:
for i in range(len(keys_names)-3):
    print(str(keys_names[i]) + ":\t"+ str(metadata_entries[keys_names[i]]))

responseStatusCode:	0
productId:	32100116
cansimId:	003-0015
cubeTitleEn:	Supply and disposition of mink and fox on fur farms
cubeTitleFr:	Bilan des visons et renards dans les fermes d'élevage et nombre de fermes
cubeStartDate:	1970-01-01
cubeEndDate:	2017-01-01
nbSeriesCube:	203
nbDatapointsCube:	8286
archiveStatusCode:	2
archiveStatusEn:	CURRENT - a cube available to the public and that is current
archiveStatusFr:	ACTIF - un cube qui est disponible au public et qui est toujours mise a jour
subjectCode:	['320408']
surveyCode:	['3426']

<h3 align='center'>H5-related Methods</h3>

At present I found that some h5-related Methods return different errors

In [15]:
stats_can.tables_to_h5('33100036')

NotImplementedError: > 1 ndim Categorical are not supported at this time

In [16]:
stats_can.table_from_h5('33100036')

ImportError: HDFStore requires PyTables, "No module named 'tables'" problem importing

In [17]:
stats_can.h5_included_keys()

[]

In [18]:
stats_can.metadata_from_h5('33100036')

Couldn't find table json_33100036

[]

<h3 align='center'>SC and SCWDS related Methods</h3>

At present I found that some both sc and scwds are non-callable modules.

In [19]:
stats_can.sc()

TypeError: 'module' object is not callable

In [20]:
stats_can.scwds()

TypeError: 'module' object is not callable

<h2 align='center'>Summary</h2>

We found the modules to get series lists, get cubes and get metadata are powerful modules that work extremely well along with pandas dataframes. 

At this time it seems like there is further testing to be done on modules related to h5, sc, scwds and zip. 

It is also interesting to notice that the cube methods work only when the data has been updates for the latest date.

![alt text](https://github.com/callysto/callysto-sample-notebooks/blob/master/notebooks/images/Callysto_Notebook-Banners_Bottom_06.06.18.jpg?raw=true)